//Colors
$white: #FFFFFF;
$off-white: #FDFDFD;
$grey: #696969;
$light-green: #B3E77F;
$light-grey: #F9FBFB;
$steel-blue: #4d92c4;
$sea-green: #4ABFB7;
$light-red: #F25C69;
$text-color: #999999;
//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
//Font Size
$font-size-title: 2.4em;
$font-size-large: 1.8em;
$font-size-small: 1.2em;